<html>
<head>
    <link href="/Css/Common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="property-panel">
        <div class="property-name">PlayerCD</div>
        <input type="text" name="PlayerCD"  />
    </div>
    <div class="property-panel">
        <div class="property-name">PlayerName</div>
        <input type="text" name="PlayerName" />
    </div>
    <div class="property-panel">
        <div class="property-name">ID</div>
        <input type="text" name="ID" />
    </div>
    <div class="property-panel">
        <div class="property-name">AppName</div>
        <input type="text" name="AppName" />
    </div>
    

    <div class="button-list-panel">
        <input type="button" name="SaveButton" value="サインアップ" />
    </div>

    <script src="~/JavaScript/Signup.js"></script>

</body>
</html>


